/*body{
  width: 100%;
}*/

header{
height: 200px;

}

h1, h2{
text-align: center;
font-family: 'Alegreya Sans SC', sans-serif;
font-weight: 400;

}

h2{

  font-size: 30px;
  padding-bottom: 10rem;
}

nav ul{
  display:flex;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;

}

nav li{
  padding-left:12%;
  list-style: none;
}

.liste_produit{

  display: flex;
  margin: auto;
    width: 40%;
}

.liste1{

padding-right: 16rem;
}

section, footer{
  text-align: center;
}

p, a{
  font-family: 'Exo 2', sans-serif;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: black;
}

section{

  height: 100vh;

}

footer{

  border-top: 1px solid;
  height: 50px;
}
